<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineering</title>
    <link rel="stylesheet" href="/css/styling.css"> 
    <script src="/js/javascript.js"></script>
</head>
<body>

   <%- include('partials/nav') %>

    <input type="text" id="searchBox" placeholder="Search Majors..." onkeyup="searchMajors()">


    <div class="container">
        <a href="Agricultural" class="major-box Agricultural">
            <span>Agricultural</span><br>
        </a>
        <a href="architecture" class="major-box architecture">
            <span>Architecture</span><br>
        </a>
        <a href="chemical" class="major-box chemical">
            <span>Chemical</span><br>
        </a>
        <a href="electronics" class="major-box electronics-communication">
            <span>Electronics & Communication</span><br>
        </a>
        <a href="mechanical" class="major-box mechanical">
            <span>mechanical</span><br>
        </a>  
    </div> 
    <div class="chatbot" id="chatbot">💬</div> 
</body>
</html>