<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Opportunities</title>
    <link rel="stylesheet" href="/css/styling.css">
    <script src="/js/javascript.js"></script>
</head>

<body>
   <%- include('partials/nav') %>

    <section id="internships">
        <h2>Internship Opportunities</h2>
        <p>Find internships based on your major.</p>
        
        <div class="filter-container">
            <div class="filter-group">
                <label for="majorSelect">Select Major:</label>
                <div class="custom-dropdown">
                    <button class="dropbtn" onclick="toggleDropdown('majorDropdownContent')">Select Major</button>
                    <div id="majorDropdownContent" class="dropdown-content">
                        <div onclick="selectMajor('All')">All</div>
                        <div onclick="selectMajor('Computer Science')">Computer Science</div>
                        <div onclick="selectMajor('Engineering')">Engineering</div>
                        <div onclick="selectMajor('Business')">Business</div>
                    </div>
                    <input type="hidden" id="majorSelect" value="All">
                </div>
            </div>
        
            <div class="filter-group">
                <label for="subMajorSelect">Select Sub-Major:</label>
                <div class="custom-dropdown">
                    <button class="dropbtn" onclick="toggleDropdown('dropdownContent')">Select Sub-Major</button>
                    <div id="dropdownContent" class="dropdown-content"></div>
                    <input type="hidden" id="subMajorSelect" value="All">
                </div>
            </div>
            
        <div class="filter-group">
            <label for="statusSelect">Select Status:</label>
            <div class="custom-dropdown">
                <button class="dropbtn" onclick="toggleDropdown('statusDropdownContent')">Select Status</button>
                <div id="statusDropdownContent" class="dropdown-content">
                    <div onclick="selectStatus('All')">All</div>
                    <div onclick="selectStatus('Booked')"> Applied </div>
                    <div onclick="selectStatus('Not Booked')">Not applied</div>
                </div>
                <input type="hidden" id="statusSelect" value="All">
            </div>
        </div>
            
        </div>
                <!-- Computer Science internships -->
            <div class="course-card" data-major="Computer Science" data-sub-major="Artificial Intelligence">
                <h3>Machine Learning </h3>
                <p>Requirements: ML algorithms, data preprocessing</p> 
                <p>Description: Build and train ML models & Gain Hands-on Experience on Machine Learning</p> 
                <p>Duration: 2 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Machine Learning Internship','2 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Artificial Intelligence">
                <h3>AI Engineer </h3>
                <p>Requirements: NLP, AI frameworks.</p> 
                <p>Description: Gain hands-on experience in artificial intelligence</p> 
                <p>Duration: 2 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'AI Engineer Internship','2 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Data Science">
                <h3>Data Analyst </h3>
                <p>Requirements: SQL, data visualization.</p> 
                <p>Description: Analyze and interpret datasets.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Data Analyst Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Data Science">
                <h3>Data Scientist </h3>
                <p>Requirements: Statistical modeling, Python.</p> 
                <p>Description: Develop predictive models & Analyze Data Models</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Data Scientist Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Cyber Security">
                <h3>Cyber Security Analyst </h3>
                <p>Requirements: Network security, penetration testing.</p> 
                <p>Description: Monitor security threats.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Cyber Security Analyst Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Cyber Security">
                <h3>Ethical Hacking </h3>            
                <p>Requirements: Vulnerability assessments, encryption.</p> 
                <p>Description: Perform security testing.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Ethical Hacking Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Cyber Security">
                <h3>Business Systems Analyst </h3>            
                <p>Requirements: Incident response, threat intelligence.</p> 
                <p>Description: Analyze cyber threats.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Business Systems Analyst internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Information Systems">
                <h3> Business Systems Analyst</h3>            
                <p>Requirements: ERP, business processes.</p> 
                <p>Description: Analyze business IT needs.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Business Systems Analyst Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Information Systems">
                <h3>IT Support </h3>            
                <p>Requirements:ERP, business processes. </p> 
                <p>Description: Analyze business IT needs.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'IT Support Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Software Development" data-type="internship">
                <h3>Full Stack Developer </h3>            
                <p>Requirements: Frontend & backend dev skills.</p> 
                <p>Description: Build complete web applications.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Full Stack Developer Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Software Development">
                <h3>Mobile App Developer </h3>            
                <p>Requirements: Flutter, Kotlin, Swift.</p> 
                <p>Description: Develop mobile applications.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Mobile App Developer Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Software Testing">
                <h3> QA Tester</h3>            
                <p>Requirements: Automation testing, Selenium.</p> 
                <p>Description: Test software for bugs.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'QA Tester Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Software Testing">
                <h3> Manual Tester</h3>            
                <p>Requirements: Test cases, defect tracking.</p> 
                <p>Description: Perform manual software testing.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Manual Tester Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Human-Computer Interaction (HCI)">
                <h3> UX Designer</h3>            
                <p>Requirements: User research, wireframing.</p> 
                <p>Description:Design intuitive user experiences. </p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'UX Designer Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Human-Computer Interaction (HCI)">
                <h3>UI Designer </h3>            
                <p>Requirements: Visual design, Figma, Adobe XD.</p> 
                <p>Description: Create engaging UI designs.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'UI Designer Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Internet of Things (IOT)">
                <h3> Embedded Systems</h3>            
                <p>Requirements: C++, microcontrollers.</p> 
                <p>Description: Program embedded devices.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, ' Embedded Systems Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Computer Science" data-sub-major="Internet of Things (IOT)">
                <h3>IoT Developer </h3>            
                <p>Requirements: Embedded systems, MQTT.</p> 
                <p>Description: Develop IoT applications.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.valeo.com/en/find-a-job-or-internship/">https://www.valeo.com/en/find-a-job-or-internship/</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'IoT Developer Internship','3 months')">Apply Now</button>     
            </div>

            <!-- Business internships -->
            <div class="course-card" data-major="Business" data-sub-major="Accounting">
                <h3> Tax Accounting</h3>            
                <p>Requirements: Tax laws, QuickBooks.</p> 
                <p>Description: Assist in tax filings.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Tax Accounting Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Business" data-sub-major="Accounting">
                <h3> Payroll Accountant</h3>
                <p>Requirements: Payroll processing, accounting software.</p> 
                <p>Description: Manage payroll operations.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Payroll Accountant Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Business" data-sub-major="Finance">
                <h3>Financial Analyst </h3>
                <p>Requirements: Financial modeling, Excel.</p> 
                <p>Description: Analyze financial statements.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Financial Analyst Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Business" data-sub-major="Finance">
                <h3>Risk Management </h3>
                <p>Requirements: Risk assessment, compliance.</p> 
                <p>Description: Identify financial risks.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Risk Management Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Business" data-sub-major="Marketing">
                <h3> Digital Marketing</h3>
                <p>Requirements: SEO, social media.</p> 
                <p>Description: Manage online marketing campaigns.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Digital Marketing Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Business" data-sub-major="Marketing">
                    <h3>SEO Analyst </h3>
                    <p>Requirements: Keyword research, content optimization.</p> 
                    <p>Description: Improve search rankings.</p> 
                    <p>Duration: 3 months</p>
                    <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                    <button class="apply-button" onclick="applyInternship(this, 'SEO Analyst Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Business" data-sub-major="Human Resource">
                    <h3> HR Coordinator</h3>
                    <p>Requirements: HR policies, recruitment.</p> 
                    <p>Description: Support HR activities.</p> 
                    <p>Duration: 3 months</p>
                    <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                    <button class="apply-button" onclick="applyInternship(this, 'HR Coordinator Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Business" data-sub-major="Human Resource">
                    <h3>Employee Engagement </h3>
                    <p>Requirements: Corporate culture initiatives.</p> 
                    <p>Description: Enhance employee satisfaction</p> 
                    <p>Duration: 3 months</p>
                    <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                    <button class="apply-button" onclick="applyInternship(this, 'Employee Engagement Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Business" data-sub-major="Entrepreneurship">
                    <h3>Venture Capital </h3>
                    <p>Requirements: Investment research, pitch decks.</p> 
                    <p>Description: Analyze startup funding opportunities.</p> 
                    <p>Duration: 3 months</p>
                    <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                    <button class="apply-button" onclick="applyInternship(this, 'Venture Capital Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Business" data-sub-major="Supply Chain Management">
                    <h3>Logistics Coordinator </h3>
                    <p>Requirements: Supply chain management, inventory.</p> 
                    <p>Description: Manage logistics operations.</p> 
                    <p>Duration: 3 months</p>
                    <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                    <button class="apply-button" onclick="applyInternship(this, 'Logistics Coordinator Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Business" data-sub-major="Supply Chain Management">
                <h3> Operations Analyst</h3>
                <p>Requirements: Process optimization, analytics.</p> 
                <p>Description:Improve supply chain efficiency. </p> 
                <p>Duration: 3 months</p>
                <p><a href="https://www.cibeg.com/en/careers">https://www.cibeg.com/en/careers</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Operations Analyst Internship','3 months')">Apply Now</button>     
            </div>
            <!-- Engineering internships -->
            <div class="course-card" data-major="Engineering" data-sub-major="Electronics & Communication">
                <h3> Wireless Communications</h3>
                <p>Requirements: RF design, signal processing.</p> 
                <p>Description: Work on wireless network technologies.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg">https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Wireless Communications Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Engineering" data-sub-major="Electronics & Communication">
                <h3> Electronics Engineer</h3>
                <p>Requirements: Circuit design, PCB layout.</p> 
                <p>Description: Design and test electronic circuits.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg">https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Electronics Engineer Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Engineering" data-sub-major="Architecture">
                <h3> Sustainable Design</h3>
                <p>Requirements: Green building standards.</p> 
                <p>Description: Work on eco-friendly architectural designs.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg">https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Sustainable Design Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Engineering" data-sub-major="Architecture">
                <h3> Architecture</h3>
                <p>Requirements: AutoCAD, Revit, design principles.</p> 
                <p>Description: Assist in architectural design and planning.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg">https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Architecture Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Engineering" data-sub-major="Chemicals">
                <h3>Chemical Engineering </h3>
                <p>Requirements: Process simulation, chemistry background.</p> 
                <p>Description: Optimize chemical production processes.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg">https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Chemical Engineering Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Engineering" data-sub-major="Mechanical">
                <h3> Automotive Engineering</h3>
                <p>Requirements: Vehicle dynamics, CAD modeling.</p> 
                <p>Description: Work on car design and performance.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg">https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Automotive Engineering Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Engineering" data-sub-major="Mechanical">
                <h3>Robotics </h3>
                <p>Requirements: Mechatronics, control systems.</p> 
                <p>Description:  Develop and test robotic systems.</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg">https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Robotics Internship','3 months')">Apply Now</button>     
            </div>

            <div class="course-card" data-major="Engineering" data-sub-major="Agricultural">
                <h3> Agricultural Engineering</h3>
                <p>Requirements: Irrigation systems, soil science.</p> 
                <p>Description: Improve farming techniques and equipment</p> 
                <p>Duration: 3 months</p>
                <p><a href="https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg">https://elsewedyelectric.com/en/careers?srsltid=AfmBOopyz81NU3ULi0HtE_Om_JJn_zyFZoz76PnywDyI81RqMmvWt6qg</a></p>
                <button class="apply-button" onclick="applyInternship(this, 'Agricultural Engineering Internship','3 months')">Apply Now</button>     
            </div>
                  <%- include('partials/footer') %>
</body>
</html>