<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/js/login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <input type="checkbox" id="flip">
      <div class="cover">
        <div class="front">
          <img src="/uploads/pics/frontImg.jpg" alt="Front Image">
          <div class="text">
            <span class="text-1">Every new friend is a <br> new adventure</span>
            <span class="text-2">Let's get connected</span>
          </div>
        </div>
        <div class="back">
          <img class="backImg" src="/uploads/pics/backImg.jpg" alt="Back Image">
          <div class="text">
            <span class="text-1">Complete miles of journey <br> with one step</span>
            <span class="text-2">Let's get started</span>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
            <form action="/login" method="post" onsubmit="return loginValidation(event)">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input type="text" id="login-email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" id="login-password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="text"><a href="#">Forgot password?</a></div>
                <div class="button input-box">
                  <input type="submit" value="Submit">
                </div>
                <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
              </div>
            </form>
          </div>
          <div class="signup-form">
            <div class="title">Signup</div>
            <form action="/api/auth/signup" method="post" onsubmit="return signupValidation(event)">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-user"></i>
                  <input type="text" id="signup-name"  name="name" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input type="email" id="signup-email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-phone"></i>
                  <input type="tel" id="signup-mobile" name="mobile" placeholder="Enter your mobile number" required pattern="\d{10}" title="Please enter a 10-digit mobile number">
                </div>
                <div class="input-box">
                  <label for="country">Country:</label>
                  <select id="signup-country" name="country" required>
                    <option value="">Select Country</option>
                    <option value="us">United States</option>
                    <option value="ca">Canada</option>
                    <option value="in">India</option>
                    <option value="uk">United Kingdom</option>
                    <option value="eg">Egypt</option>
                    <option value="au">Australia</option>
                    <option value="fr">France</option>
                    <option value="de">Germany</option>
                    <option value="br">Brazil</option>
                    <option value="za">South Africa</option>
                    <option value="mx">Mexico</option>
                    <option value="jp">Japan</option>
                    <option value="kr">South Korea</option>
                    <option value="cn">China</option>
                    <option value="ru">Russia</option>
                    <option value="ae">United Arab Emirates</option>
                    <option value="it">Italy</option>
                    <option value="es">Spain</option>
                  </select>
                </div>
                <div class="input-box">
                  <label for="gender">Gender:</label>
                  <input type="radio" id="gender-male" name="gender" value="male" required>
                  <label for="gender-male">Male</label>
                  <input type="radio" id="gender-female" name="gender" value="female" required>
                  <label for="gender-female">Female</label>
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" id="signup-password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password" required>
                </div>
                <div class="button input-box">
                  <input type="submit" value="Submit">
                </div>
                <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>