<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Majors</title>
    <link rel="stylesheet" href="/css/styling.css">
    <script src="/js/javascript.js"></script>

</head>
<body>
   
 <%- include('partials/nav') %>
    <input type="text" id="searchBox" placeholder="Search Majors..." onkeyup="searchMajors()">

    <div class="container">
        <a href="business" class="major-box business">
            <span>Business</span>
        </a>
        <a href="computer-science" class="major-box computer-science">
            <span>Computer Science</span>
        </a>
        <a href="engineering" class="major-box engineering">
            <span>Engineering</span>
        </a>
    </div>
    <div class="chatbot" id="chatbot">💬</div>
</body>
</html>